<table id="author-table" class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nacionalidad</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{ author.first_name }}</td>
            <td>{{ author.last_name }}</td>
            <td class="flag-cell">
                <div class="flag-icon">
                    <i class="flag2x {{ author.nationality.flag_css }}"></i>
                </div>
                <div class="center">{{ author.nationality.name }}</div>
            </td>
            {% if author.is_active %}
            <td>
                <i class="fa-solid fa-check"></i>
            </td>
            {% else %}
            <td>
                <i class="fa-solid fa-xmark"></i>
            </td>
            {% endif %}
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if author.is_active %}
                        <a href="{% url 'author-disable' author.id %}" class="btn btn-light"><i class="fa-regular fa-circle-xmark" style="color: #005eff;"></i></a>
                    {% else %}
                        <a href="{% url 'author-enable' author.id %}" class="btn btn-light"><i class="fa-regular fa-circle-check" style="color: #005eff;"></i></a>
                    {% endif %}
                    <a href="{% url 'author-update' author.id %}" class="btn btn-light"><i class="fa-solid fa-pen-to-square" style="color: #005eff;"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>