{% extends 'base.html' %}
{% load static %}
{% load countries %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
<style>
    .flag-cell {
        display: flex;
        align-items: center;
        min-height: 50px; /* Adjust the height as needed */
        overflow: hidden;
    }

    .flag-icon {
        margin-right: 10px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .center {
        margin-top: -7px;
    }

    /* Add the following CSS for vertical alignment */
    table td {
        vertical-align: middle;
    }
</style>

<a href="{% url 'author-create' %}" class="btn btn-primary" style="margin-bottom: 10px;">Añadir Autor</a>

<div class="row">
    {% if authors %}
        {% include 'author_table.html' %}
    {% else %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                No hay autores registrados.
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
