{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
<form action="#" method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {{ form.title }}
        <label for="{{ form.title.id_for_label }}">Título:</label>
        {{ form.title.errors }}
    </div>
    <div class="form-floating mb-3">
        {{ form.description }}
        <label for="{{ form.description.id_for_label }}">Descripción:</label>
        {{ form.description.errors }}
    </div>
    <div class="form-floating mb-3">
        {{ form.isbn }}
        <label for="{{ form.isbn.id_for_label }}">ISBN:</label>
        {{ form.isbn.errors }}
    </div>
    <div class="form-floating mb-3">
        {{ form.author }}
        <label for="{{ form.author.id_for_label }}">Author:</label>
        {{ form.author.errors }}
    </div>
    <div style="padding: 16px;">
        <input type="submit" class="btn {{ action }}" value="{{ submit }}">
    </div>
</form>
{% endblock %}