<table id="book-table" class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th style="max-width:275px;">Descripción</th>
            <th>ISBN</th>
            <th>Autor</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td style="max-width:100px; overflow-x: auto;">{{ book.title }}</td>
            <td class="max-lines-cell" style="overflow-x: auto;">{{ book.description }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.author }}</td>
            {% if book.is_active %}
            <td>
                <i class="fa-solid fa-check"></i>
            </td>
            {% else %}
            <td>
                <i class="fa-solid fa-xmark"></i>
            </td>
            {% endif %}
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if book.is_active %}
                        <a href="{% url 'book-disable' book.id %}" class="btn btn-light"><i class="fa-regular fa-circle-xmark" style="color: #005eff;"></i></a>
                    {% else %}
                        <a href="{% url 'book-enable' book.id %}" class="btn btn-light"><i class="fa-regular fa-circle-check" style="color: #005eff;"></i></a>
                    {% endif %}
                    <a href="{% url 'book-update' book.id %}" class="btn btn-light"><i class="fa-solid fa-pen-to-square" style="color: #005eff;"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>