{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1>{{ title }}</h1>
    <a href="{% url 'book-create' %}" class="btn btn-primary" style="margin-bottom: 10px;"><i class="fa-solid fa-plus"></i></a>
</div>
<hr>

<style>
    .max-lines-cell {
        height: 4rem;
        overflow-y: hidden;
        max-width: 350px;
        text-overflow: ellipsis;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

<div class="row">
    {% if books %}
        {% include 'book_table.html' %}
    {% else %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                No hay libros registrados.
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}