<table id="employee-table" class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Número de legajo</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.format_file_number }}</td>
            {% if employee.is_active %}
            <td>
                <i class="fa-solid fa-check"></i>
            </td>
            {% else %}
            <td>
                <i class="fa-solid fa-xmark"></i>
            </td>
            {% endif %}
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if employee.is_active %}
                        <a href="{% url 'employee-disable' employee.id %}" class="btn btn-light"><i class="fa-regular fa-circle-xmark" style="color: #005eff;"></i></a>
                    {% else %}
                        <a href="{% url 'employee-enable' employee.id %}" class="btn btn-light"><i class="fa-regular fa-circle-check" style="color: #005eff;"></i></a>
                    {% endif %}
                    <a href="{% url 'employee-update' employee.id %}" class="btn btn-light"><i class="fa-solid fa-pen-to-square" style="color: #005eff;"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>