{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
<form action="#" method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {{ form.first_name }}
        <label for="{{ form.first_name.id_for_label }}">Nombre:</label>
        {{ form.first_name.errors }}
    </div>
    <div class="form-floating mb-3">
        {{ form.last_name }}
        <label for="{{ form.last_name.id_for_label }}">Apellido:</label>
        {{ form.last_name.errors }}
    </div>
    <div class="form-floating mb-3">
        {{ form.file_number }}
        <label for="{{ form.file_number.id_for_label }}">Número de legajo:</label>
        {{ form.file_number.errors }}
    </div>
    <div style="padding: 16px;">
        <input type="submit" class="btn {{ action }}" value="{{ submit }}">
        <a href="{% url 'employee-list' %}" class="btn btn-secondary">Volver a la Lista de Empleados</a>
    </div>
</form>
{% endblock %}
