{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1>{{ title }}</h1>
    <a href="{% url 'employee-create' %}" class="btn btn-primary" style="margin-bottom: 10px;"><i class="fa-solid fa-plus"></i></a>
</div>
<hr>

<div class="row">
    {% if employees %}
        {% include 'employee_table.html' %}
    {% else %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                No hay empleados registrados.
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}