<table id="member-table" class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.first_name }}</td>
            <td>{{ member.last_name }}</td>
            <td>{{ member.birth_date }}</td>
            {% if member.is_active %}
            <td>
                <i class="fa-solid fa-check"></i>
            </td>
            {% else %}
            <td>
                <i class="fa-solid fa-xmark"></i>
            </td>
            {% endif %}
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if member.is_active %}
                        <a href="{% url 'member-disable' member.id %}" class="btn btn-light"><i class="fa-regular fa-circle-xmark" style="color: #005eff;"></i></a>
                    {% else %}
                        <a href="{% url 'member-enable' member.id %}" class="btn btn-light"><i class="fa-regular fa-circle-check" style="color: #005eff;"></i></a>
                    {% endif %}
                    <a href="{% url 'member-update' member.id %}" class="btn btn-light"><i class="fa-solid fa-pen-to-square" style="color: #005eff;"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>