# Archivos y directorios generados por Django
__pycache__/
*.pyc
db.sqlite3

# Directorio virtualenv
venv/

# Imágenes de covers
bibliotech/static/covers/

# Archivos de configuración locales
.env
settings_local.py