{% load static %}

<style>
    .navbar {
        min-height: 70px; /* Increase the thickness of the navbar */
    }

    .navbar-brand-left {
        position: absolute;
        left: 2%;
    }

    .github-icon {
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
    }

    .github-icon img {
        transition: filter 0.3s ease-in-out;
    }

    .github-icon img:hover {
        filter: brightness(0.7);
    }

    .nav-item a {
        text-transform: uppercase;
        transition: color 0.3s ease-in-out;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-item a:hover {
        color: white !important;
    }

    .active-white {
        color: gray !important;
        font-weight: bold !important;
    }

    .nav-small {
        font-size: 18px;
        color: gray !important;
        font-family: 'Montserrat', sans-serif;
        position: relative;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand navbar-brand-left fw-bold" href="{% url 'home' %}">
            <img src="{% static 'images/logo.ico' %}" width="33" class="d-inline-block align-top" alt="">
            BiblioTech
        </a>
        <a class="github-icon" href="https://github.com/paunicole/bibliotech/tree/develop" target="_blank">
            <img src="{% static 'images/github.ico' %}" width="48" alt="GitHub">
        </a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if request.resolver_match.url_name == 'author-list' %}active-white{% endif %}">
                    <a class="navbar-brand nav-small" href="{% url 'author-list' %}">Autores</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'book-list' %}active-white{% endif %}">
                    <a class="navbar-brand nav-small" href="{% url 'book-list' %}">Libros</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'employee-list' %}active-white{% endif %}">
                    <a class="navbar-brand nav-small" href="{% url 'employee-list' %}">Empleados</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'member-list' %}active-white{% endif %}">
                    <a class="navbar-brand nav-small" href="{% url 'member-list' %}">Socios</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'lendbook-list' %}active-white{% endif %}">
                    <a class="navbar-brand nav-small" href="{% url 'lendbook-list' %}">Préstamos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
