.carousel {
    width: 600px;
    margin: 0 auto;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    flex: 0 0 auto;
    width: 600px;
    opacity: 0.6;
    filter: grayscale(80%);
}

.carousel-item.active {
    opacity: 1;
    filter: none;
}

.carousel-item h5 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
}

.carousel-caption {
    position: absolute;
    width: 600px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    background: rgba(0,0,0,0.5);
    text-align: center;
}

.carousel-item p {
    font-size: 1.5rem;
}

.carousel-item {
    flex: 0 0 auto;
    width: 600px;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    filter: grayscale(80%);
}

.carousel-item.active {
    flex: 1 0 auto;
    opacity: 1;
    filter: none;
}

.carousel-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
}

.d-block {
    width: 600px;
    height: 800px;
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

.shadow-btn {
  /* Add a box shadow to create depth */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;

  /* Add a transform to create a slight lift effect */
  transform: translate3d(0, 0, 0);
}

.shadow-btn:hover {
  /* Increase the box shadow on hover */
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

.animated-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, #96deda, #50c9c3, #96deda);
    background-size: 300% 300%;
    z-index: -1;
}
